h1 {
	color: blue;
	font-size: 36px;
	font-family: "Oswald";
}

h3 {
	color: blue;
	font-size: 36px;
	text-align: center;
}

table.center {
	position: absolute;
	left:50%;
	bottom: 20px;
	transform: translate(-50%);
	border: 5px solid red;
	/*margin: auto;*/
  }

#header {
	text-align: center;
	padding-top: 10px;
}


#instructions p {
	text-align: center; 
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#settings {
	font-size: 24px;
	text-align: center;
	padding-top: 20px;
}

#error-message {
	color: red;
	text-align: center;
}
