
<html>


<!-- Twitter Bootstrap Sandbox -->

 <!-- <img style="float:right" id="logo" src="alarisslogo.png"  width="200" height="200"> -->
<center>

<div id="header">       
        <h1>Alariss Candidate Interview Scheduler</h1>
    </div>
    
    <div id="instructions">
        <p><b>Please read the intructions below:</b><br>1. Each timeslot below corresponds to a 1 hour long video chat via Zoom.<br>
        2. Note that the times listed are based upon your interviewer's waking hours<br>
        3. Picking more times will help ensure you receive an interview.<br>
        4. Make sure you are actually available at the times you pick <br>
        5. Click on the times you are available to interview,then click the SUBMIT button</p>
    </div>



<table>

<div class="josh-class" role="group" aria-label="First group">
  <!-- add buttons to this group -->

</div>
</table>
<br></br>

<!-- <form method="POST">
<input type="hidden" id="submit_times" name="submit_times"> -->
<button type="submit" class="btn btn-primary" 
style="width: 150px; height: 50px; background-color: #1E90FF; font-size:30px; color: #FFFAF0" 
onclick= "on_submit();"> SUBMIT</button>
<!-- </form> -->
<center>

<form method="POST" id="meme_doge">
<input type="hidden" class="hidden-form" id="submit_times" name="submit_times" >
</form>

</html>

<script src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src= 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js'></script>
<script>

var selected_list = [] 
var MS_PER_HOUR =  3600000

//@Greg use this function for sending to backend 
function on_submit(){
 console.log("Submitting to backend")
 console.log(selected_list)
 info = { selected_times:selected_list 
 }
 //do some stuff to send the info to the backend here 
 //also need to move off of the page to a "success" page that gives
 //the candidate some more info and expectations
var myJSON = JSON.stringify(info);
var jinja_submitter = document.getElementById("submit_times");
jinja_submitter.value = myJSON 
console.log(jinja_submitter)
$("#meme_doge").submit(); 
  
}


function remove_item_from_selected_list(item){
for( var i = 0; i < selected_list.length; i++){ 
    if (selected_list[i] === item) { 
    selected_list.splice(i, 1); 
        }
    }
}


function update_selection(time){

    var property = document.getElementById(time);
    console.log(property)
    console.log("signaling time selection update");
    console.log(time);
    if(selected_list.includes(time)){
        remove_item_from_selected_list(time)
        property.style.backgroundColor = "#F5F5F5"
    }else{
        //add the new time to the list
        selected_list.push(time)
        property.style.backgroundColor = "#7FFF00"
    }
    console.log("Current Selected List:")
    console.log(selected_list)


}

//some crazy helper function for converting candidate times to utc for backend representation 
function convert_to_utc(hour_as_str, midnight_of_day){
console.log(parseInt(hour_as_str.substring(0, 2)))
var candidate_offset_ms = MS_PER_HOUR * parseInt({{candidate_GMT_offset}});
var hour_ms = MS_PER_HOUR * parseInt(hour_as_str.substring(0, 2));
var retVal = midnight_of_day + hour_ms  + candidate_offset_ms;
var date = new Date(parseInt(midnight_of_day))
console.log(date)
var date = new Date(parseInt(retVal))
console.log(date)
return retVal;
}

function get_info_for_next_n_days(n){
    //list containing info objects for each day 
    retList = [] 
    //start at today 
    var today = new Date()
    for (var i=0; i < n; i++) {
        var tomorrow = new Date(today)
        tomorrow.setDate(tomorrow.getDate() + 1)
        retList.push(_get_date_info(tomorrow))
        //a day has passed lol 
        today = tomorrow
    }
    return retList 
}
    
//helper function that extracts detailed info for a given date and puts it into an easy to use object
function _get_date_info(today){    
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yr = 
    days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", 
              "October", "November", "December"]
    //do some crazy modding to get the UTC time in milliseconds of the start of the day
    var x = today.getTime()
    var at_midnight = x - ( x % (24 * MS_PER_HOUR))

    var day_of_week = days[today.getDay()]
    var month_name = months[today.getMonth()]
    well_formatted = day_of_week + "\n" + month_name + " " + dd
    well_formatted2 = day_of_week + ", " + month_name + " " + dd
    const date_info = {
            day: dd,
            month: mm,
            weekday: day_of_week,
            month_as_word:month_name,
            as_string: well_formatted,
            as_string_one_line: well_formatted2,
            at_midnight_of_day: at_midnight 
            }   
    return date_info
}

function makeRow(time, index){
     $('.josh-class').append('<div>');
     $('.josh-class').append('<tr> \n <div class="btn-group" role="group" aria-label="First group">');
    
    day_information = get_info_for_next_n_days(7)
    for (var i=0; i < 7; i++) {
      var cur_day_info = day_information[i];
      var selected_time = time + " on "+ cur_day_info["as_string_one_line"]

      as_utc_str = convert_to_utc(time, cur_day_info["at_midnight_of_day"]).toString()
      console.log("Date:")
      var date = new Date(parseInt(as_utc_str))
      console.log(date)
      console.log("spacer")
      console.log(as_utc_str)
      if(time == "..."){
        $('.josh-class').append('<td>\n<button class="btn" style="width: 100px;background-color: #AEB6BF;" > ... </button></td>');
      }
      else{
      $('.josh-class').append('<td>\n<button class="btn" style="width: 100px; background-color: #F5F5F5;" onclick="update_selection(\''+as_utc_str+'\');"' +
       ' id ="'+as_utc_str+'">'+time.toString()+'</button></td>');
      }
      // check index is counting correctly
      // console.log(index);
    }
    
    $('.josh-class').append('</div>');
    $('.josh-class').append('</tr>');
}

function init_table(){

day_information = get_info_for_next_n_days(7);
console.log(day_information)

var client_GMT_offset =parseInt({{client_GMT_offset}})
var candidate_GMT_offset = parseInt({{candidate_GMT_offset}})
times = get_acceptable_times(client_GMT_offset, candidate_GMT_offset)
// $('.josh-class').append('<table>');
$('.josh-class').append('<tr>');
$('.josh-class').append('<div class="btn-group" role="group" aria-label="First group">');
 for (var i=0; i < 7; i++) {
      var cur_day_info = day_information[i];
      var cur_day_as_str = cur_day_info["as_string"]
      $('.josh-class').append('<td>\n<button class="btn" style="width: 100px;" >'+cur_day_as_str+'</button></td>');
    }
    
$('.josh-class').append('</div>');
// $('.josh-class').append('</tr>');
times.forEach(makeRow);

// $('.josh-class').append('</table>');
}

function get_acceptable_times(client_GMT_offset, candidate_GMT_offset){
    var diff = candidate_GMT_offset - client_GMT_offset
    var times = []
    for(var i=30; i < 46; i++) {
        // console.log("fuck fuck fuck a duck")
        var num = (i + diff) % 24
        // console.log(num)
        // console.log("div 10 is")
        // console.log(Math.floor(num/10))
        // console.log("\n\n")
        if(num >= 5){
        times.push(num)
        }
    }
    return convert_to_str_array(times)

}



function convert_to_str_array(times){
    var ret_str_array = []
    times = times.sort(function(a, b) {
                  return a - b;
                });
    // console.log("fuckery")
    console.log(times)
    var prev = times[0]   
    for(var i=0; i < times.length; i++) {
        var num_as_str = ""
        var num = times[i]
        if(num - prev > 1){
            ret_str_array.push("...")
        } 
        if(Math.floor(num/10) == 0){
            num_as_str = "0"+num.toString()+":00"
        }else{
            num_as_str = num.toString()+":00"
        }
        ret_str_array.push(num_as_str)
        prev = num
    }
    return ret_str_array

}

init_table()

</script>