
{% extends "layout.html" %} {% block content %}
<div class="col">
  <div id="instructions">
    <p>
      <b>Please read the intructions below:</b><br />1. Each timeslot below
      corresponds to a 1 hour long video chat via Zoom.<br />
      2. Note that the times listed are based upon your interviewer's waking
      hours<br />
      3. Picking more times will help ensure you receive an interview.<br />
      4. Make sure you are actually available at the times you pick <br />
      5. Click on the times you are available to interview,then click the SUBMIT
      button
    </p>
    <p><b> YOU MUST SELECT AT LEAST TEN TIMES BEFORE THE SUBMIT BUTTON WILL APPEAR.</b></p>
  </div>


  <p>DANK DOGE III </p>
  <table class="table table-bordered table-striped text-center" style="border:100px solid black;margin-right:auto;">
    <div class="candidate-times-table" role="group" aria-label="First group" style="text-align: center;">
      <!-- add buttons to this group -->
    </div>
  </table>
  <br>

  <form method="POST" id="candidate-times-form">
    {{ form.hidden_tag() }}
    <div class="form-group col-md-9">
      {% if form.candidate_time_info.errors %} {{
      form.candidate_time_info(class="form-control form-control-lg is-invalid")
      }}
      <div class="invalid-feedback">
        {% for error in form.candidate_time_info.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.candidate_time_info(class="form-control
      form-control-lg") }} {% endif %}
    </div>
    <div id="submit_button" style="display: none;">
      {{ form.submit(class="btn btn-lg btn-primary mt-1 mb-4") }}
    </div>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

  var selected_list = []
  var MS_PER_HOUR =  3600000

  const candidateTimesForm = document.getElementById("candidate-times-form")

  candidateTimesForm.addEventListener("submit", on_submit)

  //@Greg use this function for sending to backend
  function on_submit(){
    console.log("Submitting to backend")
    console.log(selected_list)
    info = selected_list

    //do some stuff to send the info to the backend here
    //also need to move off of the page to a "success" page that gives
    //the candidate some more info and expectations
    var myJSON = JSON.stringify(info);
    var jinja_submitter = document.getElementById("submit_times");
    jinja_submitter.value = myJSON
    console.log(jinja_submitter)
    // $("#candidate-times-form").submit();
  }


  function remove_item_from_selected_list(item){
    for( var i = 0; i < selected_list.length; i++){
      if (selected_list[i] === item) {
      selected_list.splice(i, 1);
        }
    }
  }

  function update_selection(time, date){
      console.log("You selected:"+date)
      var property = document.getElementById(time);
      console.log(property)
      console.log("signaling time selection update");
      console.log(time);
      if(selected_list.includes(time)){
          remove_item_from_selected_list(time)
          property.style.backgroundColor = "#F5F5F5"
      }else{
          //add the new time to the list
          selected_list.push(time)
          property.style.backgroundColor = "#7FFF00"
      }
      var date = new Date(parseInt(time))
      // console.log("Selected Time:" + date.toLocaleString('en-US', { timeZone: 'Etc/GMT-4' }))
      console.log("Current Selected List:")
      console.log(selected_list)

      var submit_button = document.getElementById("submit_button"); 
      if(selected_list.length >= 10){
        submit_button.style="display: inline;"
      }else{
        submit_button.style="display: none;"
      }

  }

  function makeButton(time, index){
        var hour_as_str = time.hour_as_str
        var as_utc_str = time.as_utc_time.toString()
        var date = time.date

       if(time == "..."){
          $('.candidate-times-table').append('<td>\n<button class="btn" style="width: 100px;background-color: #AEB6BF;" > ... </button></td>');
        }
        else{
        $('.candidate-times-table').append('<td>\n<button class="btn" style="width: 100px; background-color: #F5F5F5;" onclick="update_selection(\''+as_utc_str+'\', \''+date+'\');"' +
         ' id ="'+as_utc_str+'">'+hour_as_str+'</button></td>');
        }
      }


  function makeRow(times_list, index){
    $('.candidate-times-table').append('<div>');
    $('.candidate-times-table').append('<tr> \n <div class="btn-group" role="group" aria-label="First group">');

    times_list.forEach(makeButton);

    $('.candidate-times-table').append('</div>');
    $('.candidate-times-table').append('</tr>');
  }


  function makeHeader(cur_day_info, index){
    $('.candidate-times-table').append('<td>\n<button class="btn" style="width: 100px;" >'+cur_day_info+'</button></td>');
  }


  function init_table(){
    var day_information = {{column_headers|safe}};
    var table_obj = {{table_obj|safe}};

    $('.candidate-times-table').append('<tr>');
    $('.candidate-times-table').append('<div class="btn-group" role="group" aria-label="First group">');
    day_information.forEach(makeHeader);
    $('.candidate-times-table').append('</div>');
    table_obj.forEach(makeRow);
  };

  init_table()
</script>
{% endblock content %}
