{% extends "layout.html" %}
{% block content %}
<div class="col">
	<div id="header">
		<h1>Interview Scheduler</h1>
	</div>
	
	<div id="instructions">
		<p><b>Please select a time from the dropdown menu to interview with {{ candidate.first_name }} {{ candidate.last_name }}</b></p>
	</div>	

	<div id="settings">
		<label for="times">Choose a meeting time:</label>
		<form method="POST">
			<select name="time_int" id="timezone">
				<option selected="selected" value="default"> --- Please Select a Meeting Time --- </option>
				{% for time in times %}
				<option value="{{time.int}}">{{time.str}}</option>
				{% endfor %}
			</select>
			<div id="submit" class="text-center pt-5">
				<button id="button" type="submit" class="btn btn-lg btn-primary">Schedule Interview</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}