{% extends "layout.html" %}
{% block content %}
<div class="col">
	<div id="header" class="text-center pt-5">
		<h3>Schedule an Interview: {{interview.position_name}} at {{interview.company_name}}</h3>
	</div>
	
	<div id="instructions" class="text-center pt-5">
		<p>Hello, welcome to the Alariss Interview Scheduling System! We have automatically detected that your timezone is<br></p>
			<b><p id="timezone_str"></p></b>
		<p>We have automatcially selected the associated GMT timezone offset. If the timezone listed above is incorrect, please look up <br>
		the corresponding GMT ofset for your desired timezone and select it in the dropdown menu below. 
		</p>
	</div>	

	<div id="settings" class="text-center pt-5">
		<form method="POST">
			{{ form.hidden_tag() }}
			<div>
				{% if form.candidate_timezone.errors %}
				{{ form.candidate_timezone(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
						{% for error in form.candidate_timezone.errors %}
								<span>{{ error }}</span>
						{% endfor %}
				</div>
				{% else %}
						{{ form.candidate_timezone(class="form-control form-control-lg", required=form.candidate_timezone.flags.required) }}
				{% endif %}
			</div>

			<div id="submit" class="text-center pt-5">
				<div class="">
					{{ form.submit(class="btn btn-lg btn-primary mt-4") }}
				</div>
			</div>
		</form>
	</div>  
</div>

<script>
	// Get the current time
	let offset_in_hours = - (new Date().getTimezoneOffset())/60;
	console.log("Offset in hours:"+offset_in_hours.toString())

	const d = new Date();

	// Get a DateTimeFormat object for the user's current culture (via undefined)
	// Ask specifically for the long-form of the time zone name in the options
	const dtf = Intl.DateTimeFormat(undefined, {timeZoneName: 'long'});

	// Format the date to parts, and pull out the value of the time zone name
	const timezone_as_str = dtf.formatToParts(d).find((part) => part.type == 'timeZoneName').value

	let timezone_options = document.getElementById("candidate_timezone").childNodes;

	let timezone_slot = Array.from(timezone_options).filter(option => {
		return option.value === offset_in_hours.toString()
	})[0]

	timezone_slot.selected = "selected";

	var paragraph = document.getElementById("timezone_str");

	paragraph.textContent += timezone_as_str;
</script>
{% endblock content %}
