{% extends "layout.html" %}
{% block content %}
<div class="col">
	<div id="header" class="text-center pt-5">
		<h3>Schedule an Interview: {{interview.position_name}} at {{interview.company_name}}</h3>
	</div>
	
	<div id="instructions" class="text-center pt-5">
		<p><b>Please read the intructions below:</b><br>1. Each interview is a 1 hour long video chat via Zoom.<br>
		2. Please be considerate of your interviewer’s waking hours.<br>
		3. Picking more times will help ensure you receive an interview.</p>
	</div>	

	<div id="settings" class="text-center pt-5">
		<form method="POST">
			{{ form.hidden_tag() }}
			<div>
				{{ form.candidate_timezone.label(class="form-control-label text-bold") }}
				{% if form.candidate_timezone.errors %}
				{{ form.candidate_timezone(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
						{% for error in form.candidate_timezone.errors %}
								<span>{{ error }}</span>
						{% endfor %}
				</div>
				{% else %}
						{{ form.candidate_timezone(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div id="submit" class="text-center pt-5">
				<div class="">
					{{ form.submit(class="btn btn-lg btn-primary mt-4") }}
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
